{{!-- <h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p> --}}

<br> <br>

<form class="container-fluid" id="search-form">
  <div class="row">
    <div class="form-group col">
      <select name="category" class="form-control" aria-label="Default select example">
        <option value="null" selected>Categories</option>
        <option value="dolls">Dolls</option>
        <option value="lego">Lego</option>
        <option value="videoGames">Video Games</option>
        <option value="baby">Baby</option>
        <option value="puzzles">Puzzles</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="form-group col">
      <select name="price" class="form-control" aria-label="Default select example">
        <option value="null" selected>Price</option>
        <option value="lowPrice">0 - 20€</option>
        <option value="averagePrice">20 - 100€</option>
        <option value="expensive">> 100€</option>
      </select>
    </div>
    <div class="form-group col">
      <select name="minAge" class="form-control" aria-label="Default select example">
        <option value="null" selected>Min. Age</option>
        <option value="0">0</option>
        <option value="5">5</option>
        <option value="10">10</option>
      </select>
    </div>
    <div class="form-group col">
      <select name="maxAge" class="form-control" aria-label="Default select example">
        <option value="null" selected>Max. Age</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
    </div>
  </div>
  <div class="form-group form-row">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="searchInput">
  </div>
  <button formmethod="get" formaction="/products/search" class="btn my-2 my-sm-0 btn-danger"
    type="submit">Search</button>
</form>

<hr>

<main class="container">

  <div class="container mb-5 mt-5 text-center">
    <h2><strong> Show all categories</strong></h2>
  </div>

  <section class="row d-flex align-items-end text-center">

    <div class="card col-lg-2 mb-3">
      <div class="card-body">
        <img src="../public/images/doll-famille.jpg" class="card-img-bottom d-inline-block w-100 h-auto" alt="Dolls">
      </div>

      <div class="card-body">
        <h5 class="card-title">Dolls</h5>
        <a href="/products/categories/dolls" class="btn btn-danger">More details</a>
      </div>
    </div>


    <div class="card col-lg-2 mb-3 ">
      <div class="card-body">
        <img src="../public/images/lego-train.jpg" class=" card-img-bottom d-inline-block w-100 h-auto" alt="Lego">
      </div>

      <div class="card-body">
        <h5 class="card-title">Lego</h5>
        <a href="/products/categories/lego" class="btn btn-danger">More details</a>
      </div>
    </div>


    <div class="card col-lg-2 mb-3 ">
      <div class="card-body">
        <img src="../public/images/video-game3.jpg" class="card-img-bottom d-inline-block w-100 h-auto" alt="Video Games">
      </div>

      <div class="card-body">
        <h5 class="card-title">Video Games</h5>
        <a href="/products/categories/videoGames" class="btn btn-danger">More details</a>
      </div>
    </div>


    <div class="card col-lg-2 mb-3 ">
      <div class="card-body">
        <img src="../public/images/baby-einstein-tapis-d-eveil-music-learning.webp" class="card-img-bottom d-inline-block w-100 h-auto" alt="Baby">
      </div>

      <div class="card-body">
        <h5 class="card-title">Baby</h5>
        <a href="/products/categories/baby" class="btn btn-danger">More details</a>
      </div>
    </div>


    <div class="card col-lg-2 mb-3 ">
      <div class="card-body">
        <img src="../public/images/puzzle-cat.webp" class="card-img-bottom d-inline-block w-100 h-auto" alt="Puzzles">
      </div>

      <div class="card-body">
        <h5 class="card-title">Puzzles</h5>
        <a href="/products/categories/puzzles" class="btn btn-danger">More details</a>
      </div>
    </div>


    <div class="card col-lg-2 mb-3 ">
      <div class="card-body">
        <img src="../public/images/book-travel.png" class="card-img-bottom d-inline-block w-100 h-auto" alt="Other">
      </div>

      <div class="card-body">
        <h5 class="card-title">Other</h5>
        <a href="/products/categories/other" class="btn btn-danger">More details</a>
      </div>
    </div>


  </section>
</main>

<hr>
<main class="container w-50 mb-5">

  <div class=" container mb-5 mt-5 text-center">
    <h2><strong>Deal of the day</strong></h2>
  </div>


  <div id="carouselExampleInterval" class="carousel slide justify-content-center" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <div class="carousel-caption">
          <a href="/products/{{this.[0].id}}" class="btn btn-danger">More details</a>
        </div>
        <img src="{{this.[0].images.[0]}}" class="d-block d-flex h-100 mx-auto align-items-center justify-content-center" alt="{{this.[0].name}}">
      </div>

      <div class="carousel-item" data-bs-interval="2000">
        <div class="carousel-caption">
          <a href="/products/{{this.[1]._id}}" class="btn btn-danger">More details</a>
        </div>

        <img src="{{this.[1].images.[0]}}" class="d-block d-flex h-100 mx-auto align-items-center justify-content-center" alt="{{this.[0].name}}">
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <div class="carousel-caption">
          <a href="/products/{{this.[2]._id}}" class="btn btn-danger">More details</a>
        </div>
        <img src="{{this.[2].images.[0]}}" class="d-block d-flex h-100 mx-auto align-items-center justify-content-center" alt="{{this.[0].name}}">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</main>

<footer class="text-center text-lg-start bg-light text-muted w-100">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on our projects:</span>
    </div>
    <div>
      <a href="https://github.com/Ivo-S-Silva" class="me-4 text-reset">
        <i class="fab fa-github">Ivo's Github</i>
      </a>
      <a href="https://github.com/HaThu6989" class="me-4 text-reset">
        <i class="fab fa-github">Ha Thu's Github</i>
      </a>
    </div>
  </section>
  <section>
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3">Kidzone</i>
          </h6>
          <p>
            The best place online for parents to buy and sell toys.
          </p>
        </div>
      </div>
    </div>
  </section>

</footer>