{{!-- <h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p> --}}

<br> <br>

<form class="container-fluid" id="search-form">
  <div class="row">
    <div class="form-group col">
      <select name="category" class="form-control" aria-label="Default select example">
        <option value="null" selected>Categories</option>
        <option value="dolls">Dolls</option>
        <option value="lego">Lego</option>
        <option value="videoGames">Video Games</option>
        <option value="baby">Baby</option>
        <option value="puzzles">Puzzles</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="form-group col">
      <select name="price" class="form-control" aria-label="Default select example">
        <option value="null" selected>Price</option>
        <option value="lowPrice">0 - 20€</option>
        <option value="averagePrice">20 - 100€</option>
        <option value="expensive">> 100€</option>
      </select>
    </div>
    <div class="form-group col">
      <select name="minAge" class="form-control" aria-label="Default select example">
        <option value="null" selected>Min. Age</option>
        <option value="0">0</option>
        <option value="5">5</option>
        <option value="10">10</option>
      </select>
    </div>
    <div class="form-group col">
      <select name="maxAge" class="form-control" aria-label="Default select example">
        <option value="null" selected>Max. Age</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
    </div>
  </div>
  <div class="form-group form-row">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="searchInput">
  </div>
  <button formmethod="get" formaction="/products/search" class="btn my-2 my-sm-0 btn-danger" type="submit">Search</button>
</form>

<hr>

<main class="container">

  <div class="container mb-5 mt-5 text-center">
    <h2><strong> Show all categories</strong></h2>
  </div>

  <section class="row d-flex align-items-end text-center">

    <div class="card col mb-3 h-100 w-auto">
      <img src="../public/images/Dolls-Orange.jpg" class="card-img-bottom d-inline-block h-100 w-auto" alt="Dolls" width="50"
        height="200">
      <div class="card-body">
        <h5 class="card-title">Dolls</h5>
        <a href="/products/categories/dolls" class="btn btn-danger">More details</a>
      </div>
    </div>


    <div class="card col mb-3 h-100 w-auto">
      <img src="../public/images/lego-train.jpg" class=" card-img-bottom d-inline-block h-100 w-auto" alt="Lego" width="50"
        height="200">
      <div class="card-body">
        <h5 class="card-title">Lego</h5>
        <a href="/products/categories/lego" class="btn btn-danger">More details</a>
      </div>
    </div>


    <div class="card col mb-3 h-100 w-auto">
      <img src="../public/images/videoGame-ps2.jpg" class="card-img-bottom d-inline-block h-100 w-auto" alt="Video Games" width="50"
        height="200">
      <div class="card-body">
        <h5 class="card-title">Video Games</h5>
        <a href="/products/categories/videoGames" class="btn btn-danger">More details</a>
      </div>
    </div>


    <div class="card col mb-3 h-100 w-auto">
      <img src="../public/images/baby-manipulation-eveil.jpg" class="card-img-bottom d-inline-block h-100 w-auto" alt="Baby"
        width="50" height="200">
      <div class="card-body">
        <h5 class="card-title">Baby</h5>
        <a href="/products/categories/baby" class="btn btn-danger">More details</a>
      </div>
    </div>


    <div class="card col mb-3">
      <img src="../public/images/puzzle-france.jpg" class="card-img-bottom d-inline-block h-100 w-auto" alt="Puzzles" width="50"
        height="200">
      <div class="card-body">
        <h5 class="card-title">Puzzles</h5>
        <a href="/products/categories/puzzles" class="btn btn-danger">More details</a>
      </div>
    </div>


    <div class="card col mb-3">
      <img src="../public/images/orther-tchoupi.jpg" class="card-img-bottom d-inline-block h-100 w-auto" alt="Other" width="50"
        height="200">
      <div class="card-body">
        <h5 class="card-title">Other</h5>
        <a href="/products/categories/other" class="btn btn-danger">More details</a>
      </div>
    </div>


  </section>
</main>

<hr>
<main class="container w-50 mb-5">

  <div class=" container mb-5 mt-5 text-center">
    <h2><strong>Deal of the day</strong></h2>
  </div>


  <div id="carouselExampleInterval" class="carousel slide justify-content-center" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <div class="carousel-caption">
          <a href="/products/{{this.[0].id}}" class="btn btn-danger">More details</a>
        </div>
        <img src="{{this.[0].images.[0]}}" class="d-block w-100" alt="{{this.[0].name}}">
      </div>

      <div class="carousel-item" data-bs-interval="2000">
        <div class="carousel-caption">
          <a href="/products/{{this.[1]._id}}" class="btn btn-danger">More details</a>
        </div>

        <img src="{{this.[1].images.[0]}}" class="d-block w-100" alt="{{this.[0].name}}">
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <div class="carousel-caption">
          <a href="/products/{{this.[2]._id}}" class="btn btn-danger">More details</a>
        </div>
        <img src="{{this.[2].images.[0]}}" class="d-block w-100" alt="{{this.[0].name}}">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</main>