<div class="container mt-5">
  <h2 class="mb-3">USER PROFILE</h2>

  {{#if userInSession}}
  <h3>Welcome, {{ userInSession.username }} !</h3>
</div>

<div class="container">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">

        <div class="row mb-3">
          <div class="col-sm-3  d-flex align-items-center">
            <h6 class="mb-2">Name</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <h6 class="mb-2">{{ userInSession.username }}</h6>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-sm-3  d-flex align-items-center">
            <h6 class="mb-2">Email</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <h6 class="mb-2">{{ userInSession.email }}</h6>
          </div>
        </div>


        <div class="row mb-3">
          <div class="col-sm-3  d-flex align-items-center">
            <h6 class="mb-2">Number Phone</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <h6 class="mb-2">{{ userInSession.numberPhone }}</h6>
          </div>
        </div>


        <div class="row mb-3">
          <div class="col-sm-3  d-flex align-items-center">
            <h6 class="mb-0">Address</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <h6 class="mb-2">{{ userInSession.address }}</h6>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-3 "></div>
          <div class="col-sm-9 text-secondary">
            <a href="/auth/user-profile/edit" class="btn btn-danger px-4">Edit</a>
          </div>
        </div>



      </div>
    </div>

  </div>

</div>

<div class="container">
  <h2 class="bg-danger mt-5 p-2 fs-5 text-white d-flex justify-content-between rounded">
    Items you're selling
  </h2>

  <ul class=" list-group mt-2 mb-2 p-2 fs-6">
    {{#if sellerProducts}}
    {{#each sellerProducts}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="/products/{{_id}}">{{name}}</a>
      <span class="badge bg-danger rounded-pill">{{price}} €</span>
    </li>
    {{/each}}
    {{else}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
      <span>You're currently not selling any items.</span>
    </li>
    {{/if}}
  </ul>
</div>

<div class="container">
  <h2 class="bg-danger mt-5 p-2 fs-5 text-white d-flex justify-content-between rounded">
    Favourite Items
  </h2>


  <ul class=" list-group mt-2 mb-2 p-2 fs-6">
    {{#if favouritesArray}}
      {{#each favouritesArray}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="/products/{{_id}}">{{name}}</a>
          <span class="badge bg-danger rounded-pill">{{price}} €</span>
        </li>
      {{/each}}
    {{else}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>You currently have no items in your favourites.</span>
        </li>
    {{/if}}
  </ul>

</div>

{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}