<h1>Category : {{productsFound.[0].category}}</h1>
<br><br>
<h5><strong>Results :</strong> <em>({{productsFound.length}} products)</em></h5>

<ul class=" list-group mt-2 mb-2 p-2 fs-6">
  {{#each productsFound}}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href="/products/{{this._id}}">{{this.name}}</a>
    <span class="badge bg-danger rounded-pill">{{this.price}} €</span>
  </li>
  {{/each}}
</ul>