<main class="container rounded p-5 mt-3 d-flex justify-content-center" style="background:  #f0b9bf;">
        <div class="card rounded">
                <div class="row mb-3 mt-4 mx-auto text-center" id="title">

                        <h1 style="font-family:'Courier New', Courier, monospace;">{{productFound.name}}</h1>

                        {{#if isFavourite}}
                        <form action="/products/{{productFound._id}}/removefavourite" method="POST"><button
                                        id="remove-favourite"></button>
                        </form>
                        {{else}}
                        <form action="/products/{{productFound._id}}/addfavourite" method="POST"><button
                                        id="add-favourite"></button></form>
                        {{/if}}
                </div>

                <div class="row-md-3 mx-auto">

                        {{#each productFound.images}}
                        <div class="card-body p-2 mb-3">
                                <img src="{{this}}" class="card-img-top" alt="...">
                        </div>
                        {{/each}}

                </div>

                <div class="card-body">

                        <div class="row border-bottom mx-auto pb-2" id="title">
                                <h3 class="text-danger ">Description</h3>
                                <div class="col text-secondary">

                                        <h5 class="mb-2"> {{productFound.description}} </h5>
                                </div>


                        </div>


                        <div class="row border-bottom mt-3 mx-auto pb-2" id="title">

                                <h3 class="text-danger">Contact us</h3>
                                <div class="row">
                                        <div class="col-sm-3 d-flex align-items-center">
                                                <h6 class="mb-0">Sold by </h6>
                                        </div>
                                        <div class="col-sm-3 text-secondary">
                                                <h6 class="mb-2">{{ productFound.seller.username }}</h6>
                                        </div>
                                </div>

                                <div class="row ">
                                        <div class="col-sm-3  d-flex align-items-center">
                                                <h6 class="mb-0">Number Phone</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                                <h6 class="mb-2">{{ productFound.seller.numberPhone }}
                                                </h6>
                                        </div>
                                </div>

                                <div class="row ">
                                        <div class="col-sm-3  d-flex align-items-center">
                                                <h6 class="mb-0">Email</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                                <h6 class="mb-2">{{ productFound.seller.email }}</h6>
                                        </div>
                                </div>

                                <div class="row ">
                                        <div class="col-sm-3 d-flex align-items-center">
                                                <h6 class="mb-0">Address</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                                <h6 class="mb-2">{{ productFound.seller.address }}</h6>
                                        </div>
                                </div>

                        </div>

                        <div class="row border-bottom mt-3 mx-auto pb-2" id="title">

                                <h3 class="text-danger">Details</h3>

                                <div class="row">
                                        <div class="col-sm-3  d-flex align-items-center">
                                                <h6 class="mb-0">Price</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                                <h6 class="mb-2">{{ productFound.price}} €</h6>
                                        </div>
                                </div>


                                <div class="row">
                                        <div class="col-sm-3  d-flex align-items-center">
                                                <h6 class="mb-0">Min Age</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                                <h6 class="mb-2">{{productFound.minAge}}</h6>
                                        </div>
                                </div>


                                <div class="row">
                                        <div class="col-sm-3  d-flex align-items-center">
                                                <h6 class="mb-0">Max Age</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                                <h6 class="mb-2">{{productFound.maxAge}}</h6>
                                        </div>
                                </div>


                        </div>


                        <div class="row mt-3 mx-auto pb-2" id="title">
                                <div class="row">
                                        {{#if isCreator}}
                                        <div class="col d-flex justify-content-center">
                                                <form action="/products/{{productFound._id}}/delete" method="POST">
                                                        <button class="btn btn-danger px-4">Delete</button>
                                                </form>
                                        </div>

                                        <div class="col d-flex justify-content-center">
                                                <form action="/products/{{productFound._id}}/edit">
                                                        <button class="btn btn-danger px-4">Edit</button>
                                                </form>
                                        </div>
                                        {{/if}}
                                </div>
                        </div>


                </div>
        </div>


</main>