<h1>{{productFound.name}}</h1>

{{#if isFavourite}}
<form action="/products/{{productFound._id}}/removefavourite" method="POST"><button id="remove-favourite"></button>
</form>
{{else}}
<form action="/products/{{productFound._id}}/addfavourite" method="POST"><button id="add-favourite"></button></form>
{{/if}}

<div class="container">
        <div class="col-lg-4">
                <div class="card">
                        <div class="card-body">

                                <div class="row ">
                                        <div class="col-sm-3  d-flex align-items-center">
                                                <h6 class="mb-0">Sold by</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                                <h6 class="mb-2 form-control">{{ productFound.seller.username }}</h6>
                                        </div>
                                </div>

                                <div class="row ">
                                        <div class="col-sm-3  d-flex align-items-center">
                                                <h6 class="mb-0">Number Phone</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                                <h6 class="mb-2 form-control">{{ productFound.seller.numberPhone }}</h6>
                                        </div>
                                </div>

                                <div class="row ">
                                        <div class="col-sm-3  d-flex align-items-center">
                                                <h6 class="mb-0">Email</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                                <h6 class="mb-2 form-control">{{ productFound.seller.email }}</h6>
                                        </div>
                                </div>

                                <div class="row ">
                                        <div class="col-sm-3  d-flex align-items-center">
                                                <h6 class="mb-0">Address</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                                <h6 class="mb-2 form-control">{{ productFound.seller.address }}</h6>
                                        </div>
                                </div>

                                <div class="row mb-3">
                                        <div class="col-sm-3  d-flex align-items-center">
                                                <h6 class="mb-0">Price</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                                <h6 class="mb-2 form-control">{{ productFound.price}} €</h6>
                                        </div>
                                </div>


                                <div class="row mb-3">
                                        <div class="col-sm-3  d-flex align-items-center">
                                                <h6 class="mb-0">Min Age</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                                <h6 class="mb-2 form-control">{{productFound.minAge}}</h6>
                                        </div>
                                </div>


                                <div class="row mb-3">
                                        <div class="col-sm-3  d-flex align-items-center">
                                                <h6 class="mb-0">Max Age</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                                <h6 class="mb-2 form-control">{{productFound.maxAge}}</h6>
                                        </div>
                                </div>


                                <div class="row mb-3">
                                        <div class="col-sm-3  d-flex align-items-center">
                                                <h6 class="mb-0">Description</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                                <textarea name="description" class="form-control" cols="30"
                                                        rows="5">{{productFound.description}}</textarea>
                                        </div>
                                </div>


                                <div class="row">
                                        {{#if isCreator}}
                                        <div class="col d-flex justify-content-center">
                                                <form action="/products/{{productFound._id}}/delete" method="POST">
                                                        <button class="btn btn-danger px-4">Delete</button>
                                                </form>
                                        </div>

                                        <div class="col d-flex justify-content-center">
                                                <form action="/products/{{productFound._id}}/edit">
                                                        <button class="btn btn-danger px-4">Edit</button>
                                                </form>
                                        </div>
                                        {{/if}}
                                </div>


                        </div>
                </div>

        </div>

</div>

<br> <br>
{{#each productFound.images}}
<p><img src="{{this}}" alt="" width="640" height="640"> </p>
{{/each}}