<h1>CREATE YOUR PRODUCT</h1>

{{#if userInSession}}


<div class="container">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <form action="/products/create" method="post" enctype="multipart/form-data">
          <div class="row ">
            <div class="col-sm-3  d-flex align-items-center">
              <h6 class="mb-0">Name:</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input name="name" type="text" class="form-control" value="{{newProduct.name}}" required> {{#if errorMessageName}}{{errorMessageName}}{{/if}}
            </div>
          </div>


          <div class="row mb-3">
            <div class="col-sm-3  d-flex align-items-center">
              <h6 class="mb-0">Price:</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input name="price" type="number" class="form-control" value="{{newProduct.price}}" required> {{#if errorMessagePrice}}{{errorMessagePrice}}{{/if}}
            </div>
          </div>


          <div class="row mb-3">
            <div class="col-sm-3  d-flex align-items-center">
              <h6 class="mb-0">Minimum Age:</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input name="minAge" type="number" class="form-control" value="{{newProduct.minAge}}">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-3  d-flex align-items-center">
              <h6 class="mb-0">Maximim Age:</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input name="maxAge" type="number" class="form-control" value="{{newProduct.maxAge}}">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-3  d-flex align-items-center">
              <h6 class="mb-0 mr-2">Category:</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{#if errorMessageCategory}}{{errorMessageCategory}}{{/if}}
              <select name="category">
                  <option value="null" selected>Select a Category</option>
                  <option value="dolls">Dolls</option>
                  <option value="lego">Lego</option>
                  <option value="video games">Video Games</option>
                  <option value="baby">Baby</option>
                  <option value="puzzles">Puzzles</option>
                  <option value="other">Other</option>
              </select>
            </div>

          <div class="row mb-3">
            <div class="col-sm-3  d-flex align-items-center">
              <h6 class="mb-0 mr-2">Description:</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input name="description" type="textarea" class="form-control" value="{{newProduct.description}}">
            </div>


            <div class="row mb-3">
              <div class="col-sm-3  d-flex align-items-center">
                <h6 class="mb-0">Image:</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input name="images" type="file" accept="image/png, image/jpg, image/jpeg, image/gif, image/bmp"
                  class="form-control" value="{{newProduct.images}}" multiple>
              </div>
            </div>


            <div class="row">
              <div class="col-sm-3 "></div>
              <div class="col-sm-9 text-secondary">
                <button class="btn btn-danger px-4">Create</button>
              </div>
            </div>

        </form>

      </div>
    </div>

  </div>

</div>




{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}